.second_container {
    display: grid;
    background-color: #50aa8d;
    color: white;
    width: 100%;
    height: 500px;
    text-align: center;

    /* 1fr 1fr 1fr */

}

.fourth_container {
    display: grid;
    background-color: #50aa8d;
    color: white;
    width: 100%;
    height: 600px;
    text-align: center;
    font-family: PingFangTC-Regular, PingFangHK-Regular, PingFangSC-Regular, Helvetica, "Microsoft JhengHei", "Microsoft YaHei", "MS Gothic", "Malgun Gothic", Arial, "sans-serif";
    ;
    font-size: 18px;
    /* 1fr 1fr 1fr */

}

.second_container_columns {
    display: grid;
    background-color: #50aa8d;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    ;
}

.third_container_columns {
    display: grid;
    background-color: #50aa8d;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin: 20px 50px;
}

.fourth_container_columns {
    display: grid;
    background-color: #50aa8d;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin: 20px 50px;
    padding: 90px;
}

.third_container {
    background-color: #2f5e4e;
    color: white;
    width: 100%;
    height: 400px;
}

.third_container_para {
    float: left;
    margin-left: 280px;
    margin-top: 150px;
}

.img1 {
    float: right;
    margin-right: 300px;
    margin-top: 70px;

    /* size: 30px ; the size is  not a valid property ,use height and width for it */
    height: 300px;
    width: 300px;
}

.footer {
    height: 800px;
    background-color: #414141;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;

    padding: 90px;
}

.fifth_container {
    color: white;
    position: relative;

}

.top_heading {
    position: absolute;
    right: 340px;
    top: 90px;
    font-size: 42px;
}

.bottom_para {
    position:absolute;
    bottom:260px;
    margin-right: 240px;
    margin-left: 240px;
}

.second_img {
    position: absolute;
    right: 10px;
    bottom: 370px;

}
.first_img {
    position: absolute;
    left: 80px;
    bottom: 370px
}